[Desktop Entry]
Name=Space Nerds in Space
GenericName=Space Nerds in Space
Comment=Networked spaceship bridge simulator
Exec=@CMAKE_INSTALL_PREFIX@/bin/snis_client --fullscreen --auto-download-assets
Icon=@DESKTOP_PATH@/io.github.smcameron.space-nerds-in-space.svg
Terminal=false
Type=Application
Categories=Game;
