#ifndef __BUILD_INFO
#define __BUILD_INFO

/* This file is machine generated */
#define BUILD_INFO_STRING1 "v. " SNIS_VERSION " - @endianness@ @machine@ @os@"
#define BUILD_INFO_STRING2 "@protocol_version@ @git_hash@"
#define BUILD_INFO_STRING3 "@with_voice_chat@"
#define BUILD_INFO_STRING4 "SPACE NERDS IN SPACE v. " SNIS_VERSION
#define BUILD_INFO_STRING5 "@diffsummary@"

#endif
